<h1>CryptoTracker</h1>

<app-nav></app-nav>


<p-table [value]="coins" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>Coin</th>
            <th>Quantité</th>
            <th>Prix d'achat moyen</th>
            <th>Prix actuel</th>
            <th>Bénéfice (%)</th>
            <th>Bénéfice ($)</th>
        </tr>
    </ng-template>
    <ng-template #body let-coin>
        <tr>
            <td>{{ coin.coin }}</td>
            <td>{{ coin.quantity }}</td>
            <td>{{ coin.pru }}</td>
            <td>{{ coin.price }}</td>
            <td>{{ coin.beneficePercentage }}</td>
            <td>{{ coin.beneficeDollar }}</td>
        </tr>
    </ng-template>
</p-table>


<div class="card">
  <p-carousel [value]="items" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template pTemplate="item" let-item>
      <div class="item-container">
        <img [src]="item.image" alt="{{ item.title }}" />
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
    </ng-template>
  </p-carousel>
</div>